{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{% block title %}{% endblock %}</title>

  <link rel="icon" href="{% static 'img/favicon.ico' %}">
  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i"
    rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/one-page-wonder.min.css' %}" rel="stylesheet">

  <!-- My style -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/mystyle.css' %}">
  <link rel="stylesheet" href="{% static 'css/base_tokyo23.css' %}">
  {% block head %}{% endblock %}
</head>

<style></style>

<body>
  <div id="wrapper">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom aaaaa">
      <div class="container">
        <a class="navbar-brand" href="{% url 'maps:index' %}">ZERO TOKYO</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
          aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item {% block active_inquiry %}{% endblock %}">
              <a class="nav-link" href="{% url 'maps:inquiry' %}">お問い合わせ</a>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto">
            {% if user.is_superuser %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'admin:index' %}">管理者ページ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="text-transform: none; "href="{% url 'account_logout' %}"><span style="font-weight: 900; color: #fff;">{{ request.user }}</span><span style="font-weight: 100;">でログイン中</span></a>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'account_logout' %}">ログアウト</a>
            </li>
            {% elif user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'admin:index' %}">管理者ページ(一部ユーザーのみ閲覧可)</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="text-transform: none; "href="{% url 'account_logout' %}"><span style="font-weight: 900; color: #fff;">{{ request.user }}</span><span style="font-weight: 100;">でログイン中</span></a>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'account_logout' %}">ログアウト</a>
            </li>
            {% else %}
            <li class="nav-item {% block active_signup %}{% endblock %}">
              <a class="nav-link" href="{% url 'account_signup' %}">新規登録</a>
            </li>
            <li class="nav-item {% block active_login %}{% endblock %}">
              <a class="nav-link" href="{% url 'account_login' %}">ログイン</a>
            </li>
            {% endif %}
          </ul>
          <!-- 検索をできるように変更 -->
          {% include "blog/snippets/search_form.html" %}
        </div>
      </div>
    </nav>

    <br>
    <div align="center">
      <h1>東京２３区の天気</h1>

      <iframe id="forecast_embed" type="text/html" frameborder="0" height="245" width="95%" src="https://forecast.io/embed/#lat=35.689487&lon=139.691706&
        name=Tokyo&units=si"></iframe>

    </div>

    {% block header%}{% endblock %}

    {% if messages %}
    <div class="container">
      <div class="row">
        <div class="my-div-style w-100">
          <ul class="messages" style="list-style: none;">
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
              {{ message }}
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    {% endif %}
    {% block contents%}
    {% endblock %}

    <!-- 1行空白を追加 -->
    <br />
    <!-- 編集予定 -->
    <div>
      <div class="row sample">
        <div class="col-lg-4">
          <a href="{% url 'blog:index' %}" class="btn-circle-border-double"><br><br>最新スポット<p>から探す</p> &raquo;</a>
          <p>　</p>
        </div>
        <div class="col-lg-4">
          <a href="{% url 'blog:category_list' %}" class="btn-circle-border-double"><br><br>23区エリア<p>から探す</p>
            &raquo;</a>
          <p>　</p>
        </div>
        <div class="col-lg-4">
          　<a href="{% url 'blog:tag_list' %}" class="btn-circle-border-double"><br><br>天気<p class="font">から探す</p>
            &raquo;</a>
        </div>
      </div>

      <!-- 1行追加 -->
      <br />
      <!-- Footer -->
      <footer class="py-5 bg-black">
        <div class="container">
          <p class="m-0 text-center text-white small">Copyright &copy; ZERO TOKYO 2020</p>
        </div>
        <!-- /.container -->
      </footer>
      <!-- Bootstrap core JavaScript -->
      <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
      <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    </div>
</body>

<!-- 上へ戻るボタン（右下追加） -->
<p id="topbutton">
  <a href="#top" onclick="$('html,body').animate({ scrollTop: 0 }); return false;">▲TOPへ</a>
</p>
<script src="https://code.jquery.com/jquery-1.12.4.min.js" type="text/javascript"></script>
<script type="text/javascript">
  $(function () {
    // スクロールしたときに実行
    $(window).scroll(function () {
      // 目的のスクロール量を設定(px)
      var TargetPos = 200;
      // 現在のスクロール位置を取得
      var ScrollPos = $(window).scrollTop();
      // 現在位置が目的のスクロール量に達しているかどうかを判断
      if (ScrollPos >= TargetPos) {
        // 達していれば表示
        $("#topbutton").fadeIn();
      }
      else {
        // 達していなければ非表示
        $("#topbutton").fadeOut();
      }
    });
  });
</script>
<!-- ここまで 上へ戻るボタン（右下追加） -->

</html>