{% extends 'base/base_tokyo23_tags.html' %}

{% block title %}場所から探す | ZERO TOKYO{% endblock %}


{% block contents %}
<style></style>

<div align="center">
<div class="wrapper top_margin">
  <div class="column">
  <a class="text">天気が悪いから中で楽しむ!!</a>
  <div align="center">
    <img id="map_canvas" src='https://giza-s3.s3-ap-northeast-1.amazonaws.com/post_images/キリコラウンジ.jpg' />

</div>
</div>

<div class="column">
    <a class="text">天気が良いから外で楽しむ!!</a>
    <div align="center">
      <img id="map_canvas" src='https://giza-s3.s3-ap-northeast-1.amazonaws.com/post_images/代々木公園.jpg' />
  </div>
</div>
</div>
{% endblock %}