{% extends 'base/base_tokyo23_tags.html' %}
{% block title %}場所から探す | ZERO TOKYO{% endblock %}

{% block contents %}
<style></style>

<div align="center">
  <div class="wrapper top_margin">
    <div class="column">
      <a href="{% url 'blog:tag_post' 'Indoor' %}" class="text">
        <font color="#000">天気が悪いから屋内で楽しむ!!</font>
      </a>
      <a href="{% url 'blog:tag_post' 'Indoor' %}">
        <div align="center">
          <img id="map_canvas" src='https://giza-s3.s3-ap-northeast-1.amazonaws.com/post_images/キリコラウンジ.jpg' />
      </a>
    </div>
      <br></br>
  </div>

  <div class="column">
    <a href="{% url 'blog:tag_post' 'Outdoors' %}" class="text">
      <font color="#000">天気が良いから屋外で楽しむ!!</font>
    </a>
    <a href="{% url 'blog:tag_post' 'Outdoors' %}">
      <div align="center">
        <img id="map_canvas" src='https://giza-s3.s3-ap-northeast-1.amazonaws.com/post_images/代々木公園.jpg' />
      </div>
    </a>
  </div>
</div>
{% endblock %}