<style></style>

<div align="center">
  <div class="wrapper">
    <div class="column">
      <div class="info">
      <!-- map.htmlここから2 -->
      <!-- 編集予定 -->
      <div class="top_margin">
        <a href="{% url 'blog:index' %}" class="btn-circle-border-double"><br><br>最新スポット<p>から探す</p> &raquo;</a>
      <p>　</p>
        <a href="{% url 'blog:category_list' %}" class="btn-circle-border-double"><br><br>23区エリア<p>から探す</p> &raquo;</a>
      <p>　</p>
        <a href="{% url 'blog:search_list' %}" class="btn-circle-border-double"><br><br>検索<p class="font">から探す</p> &raquo;</a>
    </div>
    <!-- map.htmlここまで2 -->
  <!-- 1行空白を追加 -->
  <br/>
        </div>
      </div>
    </div>
  </div>
<div align="center">
<div>
<div class="ttt sample">
  
<ul class="bbb">
  {% for category in categories %}
  <li class="bbb"><a href="{% url 'blog:category_post' category.slug %}">{{ category.name }}<br>({{ category.num_posts }})</a></li>
  {% empty %}
  <li class="bbb">カテゴリはありません。</li>
  {% endfor %}
</ul>
</div>
</div>
</div>